/* @copyright: 2013 Single D Software - All Rights Reserved
   @summary: Cascading style sheet for the Light Maestro GUI */

div.ui-block-a, div.ui-block-b, div.ui-block-c, div.ui-block-d {
    text-align: center;
}

div[data-role="footer"] {
    text-align: center;

}