/* @copyright: 2013 Single D Software - All Rights Reserved
   @summary: Cascading style sheet for the Light Maestro GUI */

.ui-focus, .ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#fixture-layout .ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d {
    text-align: center;
}

#fixture-layout .ui-checkbox-on, .ui-checkbox-off {
    padding: 3px;
}

#fixture-layout .ui-checkbox .ui-btn-inner {
    border: 1px solid black;
}

#control-buttons .ui-block-a, .ui-block-b {
    text-align: center;
}

#white-palette .ui-btn, #color-palette .ui-btn {
    margin: 5px;
}

div[data-role="footer"] {
    text-align: center;
}